target/
!.mvn/wrapper/maven-wrapper.jar
log/
*.log
logs/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# JDK zip
jdk22.zip
